data/dtd/test.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated from data\dtd\test.dtd--><grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"><start><choice><element name="root"><ref name="T_root"/></element><element name="foo"><ref name="T_foo"/></element><element name="bar"><ref name="T_bar"/></element><element name="baz"><ref name="T_baz"/></element><element name="mumble"><ref name="T_mumble"/></element></choice></start><!--<!ELEMENT root (foo|(bar,baz)+)*>--><define name="T_root"><zeroOrMore><choice><element name="foo"><ref name="T_foo"/></element><oneOrMore><group><element name="bar"><ref name="T_bar"/></element><element name="baz"><ref name="T_baz"/></element></group></oneOrMore></choice></zeroOrMore><!--<!ATTLIST root version CDATA #FIXED "1.0">--><optional><attribute name="version"><value>1.0</value></attribute></optional></define><!--<!ELEMENT foo EMPTY>--><define name="T_foo"><empty/></define><!--<!ELEMENT bar (#PCDATA)>--><define name="T_bar"><text/></define><!--<!ELEMENT baz (#PCDATA|mumble)*>--><define name="T_baz"><zeroOrMore><choice><text/><element name="mumble"><ref name="T_mumble"/></element></choice></zeroOrMore></define><!--<!ELEMENT mumble ANY>--><define name="T_mumble"><zeroOrMore><choice><attribute><anyName/></attribute><text/><ref name="__any__"/></choice></zeroOrMore></define><!-- any type declaration --><define name="__any__"><element><anyName/><zeroOrMore><choice><attribute><anyName/></attribute><text/><ref name="__any__"/></choice></zeroOrMore></element></define></grammar>